body{
    background-color:  #E5E5E5;
    font-family: 'Montserrat';
}

.Desktop-1{
    margin: 0 auto;
    width: 1024px;
    height: 5053px;
    /*position: relative;*/
}


p{
    margin: 0 auto;
}

.tri {
    margin: 0 auto;
    width: 1024px;
    height: 4670px;

}

header{
    width: 1024px;
    height:147px ;
    background-color: #FFD59E;
}

.poche1 {
    float:left;
    color: #FF6738;
    font-family: 'Francois One';
    font-size: 49px;
    width: 230 px;
    height: 50px;
    font-weight: bold;
    margin: 28px 5px 23px 25px;
}

.poche2{
    float:left;
    width: 590px;
    height: 12px;
    font-family: 'Francois One';
    color: #FF6738;
    font-weight: bold;
    font-size: 28px;
    margin: 20px 0px 6px 35px;
}

.poche3{
    float:left;
    background-color: #FF6738;
    width: 769px;
    height: 8px;
    margin: 25px 0px 9px 40px;
      
}

nav{
    color: #ffffff;
    background-color: #FF6738;
    width: 998px;
}

nav,ul,li{
    display: inline-block;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight:bold ;
    padding: 0px 1px 0px 25px;
}

#photo1 {
    width: 1024px;
    height: 480px;
}

#photo2 {
    width: 324px;
    height: 296px;
}

#photo3 {
    width: 1024px;
    height: 490px;
    margin-top: 20px;
}  

#photo4 {
    float: right;
    width: 455px;
    height: 280px;
}  

#photo5 {
    width: 510px;
    height: 280px;
}

#photo6 {
    width: 455px;
    height: 265px;
}

.section1 {
    float: left;
    width: 325px;
    height: 296px;
    margin: 14px;
}

.section2 {
    float: left;
    font-size: 14px;
    text-align: justify;
    width: 643px;
    height: 280px;
   margin: 14px 14px 14px 14px;
}

.poche4 {
    float:left;
    background-color: #FF6738;
    width: 654px;
    height: 8px;
    margin-left: 14px;
}

h2{
    font-size: 30px;
    font-family: 'Francois One';
    font-weight: bold;
    color: #FFA938;
    margin: 10px 5px;
}

#photo3 , .aside {
    display: inline-block;
}

.aside{
    float: right;
    position: absolute;
    right: 5px;
    font-family: 'Francois One';
    font-size: 36px;
    font-weight: bold;
    color: #FF6738;
    margin: 445px 320px 0px 15px;
}

.wrapper {
    width: 1020px;
    height: 325px;
    background-color:#FFD59E ;
}

.section3 {
    float: left;
    text-align: justify;
    font-size: 14px;
    width: 415px;
    height: 275px;
    padding-top:20px ;
   margin: 0px 5px 14px 85px;
}

.section4 {
    float: left;
    text-align: justify;
    font-size: 14px;
    width: 415px;
    height: 275px;
    padding-top:20px ;
   margin: 0px 5px 14px 15px
}

.poche5 {
    float:left;
    font-size: 30px;
    font-family: 'Francois One';
    color: #FF6738;
    margin: 20px 25px 1px 85px;
}

.poche6{
    float:left;
    background-color: #FF6738;
    width: 698px;
    height: 40px;
    margin: 25px 1px 15px 0px;
}

h3 {
    font-size: 25px;
    font-family: 'Francois One';
    color: #FF6738;
    font-weight: bold;
    margin: 10px 5px;
}

.poche7{
    float:left;
    background-color: #FF6738;
    width: 790px;
    height: 40px;
    margin: 30px 1px 15px 1px;
}

.poche8 {
    float:left;
    font-size: 30px;
    font-family: 'Francois One';
    color: #FF6738;
    margin: 25px 25px 5px 35px;
}

.pochea {
    float:left;
    font-size: 30px;
    font-family: 'Francois One';
    color: #FF6738;
    margin: 25px 5px 1px 85px;
}

.pocheb {
    float:left;
    background-color: #FF6738;
    width: 695px;
    height: 40px;
    margin: 30px 1px 15px 20px;
}

.poche9 {
    float:left;
    font-size: 35px;
    font-family: 'Francois One';
    color: #FF6738;
}

.poche10 {
    float:left;
    background-color: #FF6738;
    width: 750px;
    height: 40px;
    margin: 30px 1px 1px 30px;
}

.adresse, .poche9 {
    clear: both;
    font-weight: bold;
    margin: 20px 25px 1px 85px;
}

.tel {
    margin: 25px 25px 1px 0px;
}

.section5 {
    float: left;
    text-align: justify;
    font-size: 14px;
    width: 510px;
    height: 295px;
   margin: 5px 12px 0px 14px;
}

.section6 {
    float: left;
    width: 455px;
    height: 285px;
    margin: 12px;
}

.section7 {
    float: left;
    width: 510px;
    height: 290px;
    margin: 14px 12px 0px 14px;
}

.section8 {
    float: left;
    text-align: justify;
    font-size: 14px;
    width: 455px;
    height: 270px;
   margin: 14px 12px 14px 14px;
}

.section9 {
    float: left;
    text-align: justify;
    font-size: 14px;
    width: 510px;
    height: 270px;
   margin: 14px 12px 0px 14px;
}

.section10 {
    float: left;
    width: 405px;
    height: 270px;
    margin: 14px 12px 0px 14px;
}

.box, .section5 , .section6 {
    display: inline-block;
}

.section9 , .section10{
    display: inline-block;
}

footer{
    background-color: #c4c4c4;
    height: 230px;
    margin-bottom: 25px;
}

.box2 {
    height: 4010px;
}
.box2,.tableau , .pochea,.formulaire  {
    display: block;
}

caption {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 5px;
    text-decoration: underline;
}

table {
    width: 1022px;
    height: 650px;
    border-collapse: collapse;
    background-color: #FFEB38; 
    margin: 0 auto;
}

tr , td , th {
border: 1px solid black;
}

th {
    height: 25px;
    font-weight: bold;
} 

td {
    font-size: 14px;
}

.Coûts {
    width: 100px;
} 

input , textarea {
    font-family: 'Montserrat';
    font-size: 15px;
    background: #FFD59E;
    color: #B7B7B7;
    font-weight: 500;
} 

textarea {
    width: 1010px;
    height: 200px;  
    margin: 25px 15px;
} 

#nom {
    width: 290px;
    height: 40px;  
    margin: 12px 15px;
}

#prenom {
    width: 470px;
    height: 40px; 
    margin: 12px 15px;  
}

#courriel {
    width: 580px;
    height: 40px;  
    margin: 12px 15px;
}

#telephone {
    width: 580px;
    height: 40px;  
    margin: 12px 15px;
}

#soumettre {
    width: 100px;
    color:  #FFFFFF;
    font-family: 'Montserrat';
    font-size: 17px;
    height: 50px;  
    font-weight: bold;
    margin: 5px 15px 0px 720px;
    padding: 6px 55px;
    background: #FF6738;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
